*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins;
}
:root{
    --background: #eff2ef;
    --foreground: #fff
    --primary: #6a74c9;
    --text-black: #484848;
    --text-gray: #4f4f4f;
    --border: #e6e6e6;
    --shadow: #b1b1b140;
}
body{
background: var(--background);
}
.hero-box{
    margin-top: 20px ;
}
.container{
    width: 95%;
    margin: auto;
    padding: 40px;
    background-image: linear-gradient(45deg, #00569a, transparent), url(bg.jpg);
    background-position: center;
    border-radius: no-repeat;
    background-size: cover;
    border-radius:20px;
    box-shadow: 1px 1px 4px var(--shadow);
    position: relative;
}
.hero-warapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-warapper .ramdan-text{
    width: 60%;
}
.hero-warapper .ramdan-text h1{
   color: #eff2ef;
   text-transform: uppercase;
   font-size: 50px;
}
.hero-warapper .ramdan-text span{
    color: #c8f1ff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
    background: #6a74c97d;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;

}
.hero-warapper .ramdan-text p{
    color: #e4f7ff;
    font-size: 14px;
    opacity: 0.7;
}
.ramdan-time{
    background: var(--background);
    width: 35%;
    padding: 25px;
    border-radius: 20px;
   box-shadow: 2px 2px 4px #00000052;
   display: flex;
   flex-wrap: wrap;
}
.ramdan-time h4{
    font-size: 22px;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 18px;
    width: 100%;
}
.ramdan-time > div{
    width: 40%;
    padding: 10px;
    background: var(--foreground);
    border-radius: 10px;
    margin-right: 5%;
    border: 1px solid var(--border);
}
.ramdan-time >div span{
    color: var(--text-black);
    display: block;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.ramdan-time > div span b{
font-size: 45px;
display: block;
margin-bottom: -10px;
color: var(--primary);
}
.ramdan-time > div p{
    color: var(--text-gray);
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
}
.ramdan-time ul{
    width: 55%;
}
.ramdan-time ul li{
    background: rgb(141, 178, 204);
    padding: l0px;
    margin-bottom: l0px;
    border-radius: l0px;
    border: lpx solid var(--border);
    color: var(--text-gray);
    text-transform: capitalize;
    margin-bottom: 4px;
}
.ramdan-time ul li b{
    color: var(--text-black);
    font-weight: 600;
}
.ramaden-date .container{
    background: none;
    margin-top: 40px;
    padding: 0;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
}
.data-wrapper{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-right: 3%;
}
.data-wrapper .date-taple{
    background: var(--foreground);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 7px var(--shadow) ;
}
.data-wrapper .date-taple h2{
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 8px;
}
.data-wrapper .date-taple table{
    width: 100%;
    text-align: center;
}
.data-wrapper .date-taple table tr th{
    background: var(--primary);
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    text-transform: uppercase;
    border: 1px solid var(--border);
    color: black;
}
.data-wrapper .date-taple table tr td{
    background: var(--background);
    padding: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    text-transform: uppercase;
    border: 1px solid white;
    color:black;
    cursor: pointer;
}

.quran-bootum{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 50px 30px 30px 30px 30px  30px;
    gap: 10px;
    height: 300px;
}
#parts {
    grid-column:1/8;
    font-size: 40px;
}
.quran-bootum div {
    background-color: rgb(129, 171, 200);
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}